Repository mapbox/mapbox-gl-native-ios, pull requests merged in 2020-04, with the labels that each got.

#255 Embed MapboxMobileEvents.framework in iosapp
  platform/ios/ios.xcodeproj/project.pbxproj
Labels: build

#259 Initialize offline storage on main thread before snapshotting
  platform/darwin/src/MGLMapSnapshotter.mm
  platform/darwin/test/MGLMapSnapshotterTests.m
Labels: bug

#263 Adopt Apple Generic Versioning on macOS
  platform/darwin/test/MGLVersionNumber.m
  platform/macos/app/Info.plist
  platform/macos/macos.xcodeproj/project.pbxproj
  platform/macos/scripts/package.sh
  platform/macos/scripts/update-version.sh
  platform/macos/sdk/Info.plist
  platform/macos/test/Info.plist
Labels: build, macOS

#264 Mapbox Maps SDK for iOS v5.8.0, macOS v0.15.0
  platform/ios/Mapbox-iOS-SDK-snapshot-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
  platform/macos/Mapbox-macOS-SDK-symbols.podspec
  platform/macos/Mapbox-macOS-SDK.podspec
  platform/macos/app/Info.plist
  platform/macos/macos.xcodeproj/project.pbxproj
  platform/macos/sdk/Info.plist
  platform/macos/test/Info.plist
Labels: build, ios, macOS

#280 Snapshot style’s default camera unless overridden
  platform/darwin/src/MGLMapSnapshotter.mm
  platform/ios/CHANGELOG.md
  platform/macos/CHANGELOG.md
Labels: bug, ios, macOS

#282 Mapbox Maps SDK for iOS v5.9.0-alpha.1, macOS v0.16.0-alpha.1
  platform/ios/Mapbox-iOS-SDK-snapshot-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
  platform/macos/Mapbox-macOS-SDK-symbols.podspec
  platform/macos/Mapbox-macOS-SDK.podspec
  platform/macos/app/Info.plist
  platform/macos/macos.xcodeproj/project.pbxproj
  platform/macos/sdk/Info.plist
  platform/macos/test/Info.plist
Labels: build, ios, macOS

#285 update license file
  LICENSE.md
Labels: skip-changelog

#288 Fix root.plist flag conversion.
  platform/ios/CHANGELOG.md
  platform/ios/src/MGLMapboxEvents.m
Labels: bug

#289 Add offline pack context setter
  platform/darwin/src/MGLOfflinePack.h
  platform/darwin/src/MGLOfflinePack.mm
  platform/darwin/src/MGLOfflineStorage_Private.h
  platform/darwin/test/MGLOfflineStorageTests.mm
  platform/ios/CHANGELOG.md
  platform/macos/CHANGELOG.md
Labels: enhancement, ios, macOS
