Repository mapbox/mapbox-gl-native-ios, pull requests merged in 2020-08, with the labels that each got.

#361 iOS 14 location privacy settings update
  platform/darwin/src/MGLLocationManager.h
  platform/darwin/src/MGLLocationManager.m
  platform/ios/CHANGELOG.md
Labels: MapKit parity, enhancement

#373 Add Logging level tests (and vararg version of logCallingFunction)
  platform/darwin/src/MGLLoggingConfiguration.h
  platform/darwin/src/MGLLoggingConfiguration.mm
  platform/darwin/src/MGLLoggingConfiguration_Private.h
  platform/darwin/src/MGLNetworkConfiguration.m
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/ios/test/MBXLoggingConfigurationTests.m
Labels: tests

#376 Location changes delegate methods.
  platform/darwin/src/MGLLocationManager.h
  platform/darwin/src/MGLLocationManager.m
  platform/ios/CHANGELOG.md
  platform/ios/app/Info.plist
  platform/ios/app/MBXOrnamentsViewController.m
  platform/ios/app/MBXViewController.m
  platform/ios/src/MGLMapView.mm
  platform/ios/src/MGLMapViewDelegate.h
  platform/ios/test/MGLMapViewDelegateIntegrationTests.swift
Labels: enhancement

#391 Fix typo in macOS map SDK installation instructions
  platform/macos/docs/pod-README.md
Labels: docs, documentation, macOS

#392 Request JIT accuracy
  platform/ios/CHANGELOG.md
  platform/ios/app/Info.plist
  platform/ios/app/MBXViewController.m
  platform/ios/docs/guides/Info.plist Keys.md
  platform/ios/src/MGLMapView.mm
Labels: enhancement

#394 Update podspecs and changelog for v6.1.0
  platform/ios/CHANGELOG.md
  platform/ios/Integration Test Harness/Info.plist
  platform/ios/Integration Tests/Info.plist
  platform/ios/Mapbox-iOS-SDK-snapshot-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
  platform/ios/app/Info.plist
  platform/ios/benchmark/Info.plist
  platform/ios/framework/Info-static.plist
  platform/ios/framework/Info.plist
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/ios/test/Info.plist
Labels: ios

#399 Fix a crash on an optional delegate method
  platform/ios/src/MGLMapView.mm
Labels: bug

#400 Updates versions for 6.2.0-alpha.2
  circle.yml
  platform/ios/Integration Test Harness/Info.plist
  platform/ios/Integration Tests/Info.plist
  platform/ios/Mapbox-iOS-SDK-snapshot-dynamic.podspec
  platform/ios/Mapbox-iOS-SDK-stripped.podspec
  platform/ios/Mapbox-iOS-SDK.podspec
  platform/ios/app/Info.plist
  platform/ios/benchmark/Info.plist
  platform/ios/framework/Info-static.plist
  platform/ios/framework/Info.plist
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/ios/test/Info.plist
Labels: ios
