Repository mapbox/mapbox-gl-native-ios, pull requests merged in 2020-09, with the labels that each got.

#406 Ask accuracy authorization when tracking mode is different from none
  platform/ios/app/MBXViewController.m
  platform/ios/src/MGLMapView.mm
Labels: skip-changelog

#407 Release v6.2.0-alpha.2
  circle.yml
  platform/ios/Integration Test Harness/Info.plist
  platform/ios/Integration Tests/Info.plist
  platform/ios/app/Info.plist
  platform/ios/benchmark/Info.plist
  platform/ios/framework/Info-static.plist
  platform/ios/framework/Info.plist
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/ios/test/Info.plist
Labels: ios

#408 Release v6.2.0-alpha.2
  circle.yml
  platform/ios/Integration Test Harness/Info.plist
  platform/ios/Integration Tests/Info.plist
  platform/ios/app/Info.plist
  platform/ios/benchmark/Info.plist
  platform/ios/framework/Info-static.plist
  platform/ios/framework/Info.plist
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/ios/test/Info.plist
Labels: ios

#398 Update header documentation
  platform/darwin/src/MGLObserver.h
Labels: documentation

#416 Add a flag to enforce using catched tiles
  platform/darwin/src/MGLNetworkConfiguration.h
  platform/darwin/src/MGLNetworkConfiguration.mm
  platform/ios/CHANGELOG.md
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/ios/test/MGLNetworkConfigurationTests.m
Labels: needs changelog

#415 Update for Xcode 12 release
  Cartfile
  Makefile
  circle.yml
  platform/darwin/darwin.xcconfig
  platform/ios/scripts/package.sh
  xcode-beta-3-build-fix.xcconfig
Labels: build

#419 Autodetect Xcode 12 to apply xcconfig patch
  Makefile
  circle.yml
  platform/ios/CHANGELOG.md
  platform/ios/scripts/package.sh
  xcode-12-beta-fix.xcconfig
Labels: build

#422 Adds missing method for location integration test.
  platform/ios/Integration Tests/MGLTestLocationManager.m
Labels: tests

#420 Fix content insets when automaticallyAdjustsScrollViewInsets is set to NO
  platform/ios/CHANGELOG.md
  platform/ios/src/MGLMapView.mm
  platform/ios/test/MGLMapViewContentInsetTests.m
Labels: bug

#427 Approximate Location "Puck" logic updates
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/ios/src/MGLFaux3DUserLocationAnnotationView.mm
  platform/ios/src/MGLMapView.mm
  platform/ios/src/MGLMapView_Private.h
Labels: ios

#429 Changing the default size for approx ring border when zoomed out
  platform/ios/src/MGLFaux3DUserLocationAnnotationView.mm
Labels: ios

#474 Location manager crash fix when a selector is not implemented
  platform/ios/CHANGELOG.md
  platform/ios/src/MGLFaux3DUserLocationAnnotationView.mm
  platform/ios/src/MGLMapView.mm
Labels: bug

#475 Update gl-native to 5.1.0
  Cartfile
  Cartfile.resolved
  platform/ios/CHANGELOG.md
Labels: dependencies
